<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>63663259948-8iegu2esfkpef5lrcaelgqo72ustomjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63663259948-8iegu2esfkpef5lrcaelgqo72ustomjt</string>
	<key>API_KEY</key>
	<string>AIzaSyCGouNj4mzo41ciBIpgY3yU6c0FNHOJ-nc</string>
	<key>GCM_SENDER_ID</key>
	<string>63663259948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Team3.BBQManage</string>
	<key>PROJECT_ID</key>
	<string>bbqmanager-30ce3</string>
	<key>STORAGE_BUCKET</key>
	<string>bbqmanager-30ce3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:63663259948:ios:fa7f42d7a8f57d2a</string>
	<key>DATABASE_URL</key>
	<string>https://bbqmanager-30ce3.firebaseio.com</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<true/>
</dict>
</plist>
